footer
  .container.text-center
    p.pull-left © 2014 CodeNinjas. Built at Sequoia::Hack Bangalore 2014.
    ul.pull-right.list-inline
      li
        a(href='https://github.com/varunkumar/TrackR') GitHub Project
      li
        a(href='https://github.com/varunkumar/TrackR/issues') Issues