extends ../layout

block content
  .page-header
    h2
      i.fa.fa-twitter(style='color: #4099ff')
      | Post a tweet and start tracking

  br

  .well
    h4 Compose new Tweet
    form(role='form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        p.help Type
        select.form-control(style='width: 200px')
          option Blood requirements
          option Buy / Sell
          option Lost & Found
        div.row
          div.col-md-3
            p.help-block Hospital
            input.form-control(type='text') 
            p.help-block Item
            input.form-control(type='text')
          div.col-md-3
            p.help-block City
            input.form-control(type='text') 
          div.col-md-3
            p.help-block Phone
            input.form-control(type='text') 
        br
        br
        input.form-control(type='text', name='tweet', readonly)
        p.help-block This new Tweet will be posted on your Twitter profile.
      button.btn.btn-primary(type='submit')
        i.fa.fa-twitter
        |  Tweet

  br